* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  background-color: #ff9a4b;
  height: 50px;
}

main{
  width: 960px; 
  display: flex; /* Flexboxの利用 */
  justify-content: center; /* 要素の横並び・中央寄せ */
  margin: 0 auto; /* 要素の中央揃え */
  padding: 50px 0; 
}

.section{
  width: 300px;
  position: relative;
  background-color: #EEEEEE;
  margin-right: 30px;
  padding: 10px;
}

.section:last-child{
  margin-right: 0;
}

.step{
  display: inline-block;
  padding: 3px;
  background-color: #ff9a4b;
  color: white;
  position: absolute;
  top: 0;
  left: 0;
}

.img1{
  background-image: url(img/flow01.png);
  background-position: bottom;
  background-size: cover;
  width: 280px;
  height: 150px;
}

.img2{
  background-image: url(img/flow02.png);
  background-position: bottom;
  background-size: cover;
  width: 280px;
  height: 150px;
}

.img3{
  background-image: url(img/flow03.png);
  background-position: bottom;
  background-size: cover;
  width: 280px;
  height: 150px;
}

.section h3{
  margin-top: 15px;
  margin-bottom: 5px;
}

footer{
  background-color: #aaaaaa;
  height: 50px;
}